
/* 
-- Banner --
-- exp-single -- for experience.
-- skills --
-- Main page--

*/

/* --- BANNER --- */

#banner .banner{
    display:flex;
    
}

#banner .navbar{
    /* background-color: slateblue; */
    background-color: transparent !important; 
}

#banner .nav-btn{
    /* color: blue; */
    /* var(--primary-color) !important; */
    /* background-color: red;  */
    border-radius: 10px !important;
    border-width: 10px !important;
    border: 2px solid rgb(174, 248, 226) !important;
}

#banner .nav-btn:hover{
    border: 2px solid rgb(197, 245, 244) !important;
    box-shadow: 0 0 20px rgb(255, 255, 241);
    transition: transform 0.5s;
    transform: scale(1.1,1.1);
    filter: contrast(1.0);
    filter:saturate(1.5);
}

#banner .navbar .navbar-nav a:hover {
    color: rgb(181, 249, 246) !important;
    filter: contrast(1.0);
    filter:saturate(1.5);
}
 
#banner .navbar .navbar-nav a {
    color: var(--primary-color) !important; 
    font-size: clamp(20px, 20px, 30px);
}






/* -- skills --*/

#skills .skill-box{
    /* color:rgb(174, 248, 226); */
    /* background-color: ; */
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}

#skills .page-content .col-content h6{
    color:rgb(248, 207, 174) !important;
    font-size:  clamp(14px, 2vh ,18px) !important; 
    /* color: --text-color; */
}

#skills .page-content .col-content a{
    font-size: 16px  clamp(12px, 2vh ,16px)!important;
}

#skills .page-content ul>li::marker{
    content: "▹";
    font-size:x-small;
    color:rgb(248, 207, 174);
    background-color: aquamarine; 
}

#skills .page-content ul>li{
    padding-left: 10px ;
}

#skills .page-content h5 {
    font-size: 17px;
    color: var(--text-color);
}






/* -- Research Experience -- */
/* table */
#exp-single .page-content table {
    width: auto;
    border-radius: 5px;
    padding: 0.1rem;
    margin-bottom: 1.2em;
    max-width: 100%;
    display: block;
    overflow-x: auto;
    opacity: 0.8;
}

#exp-single .page-content table > tr {
    height: 40px !important;
}

#exp-single .page-content table > thead > tr > th {
    padding: 0.5rem !important;
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
    border: 1px solid var(--secondary-color);
    opacity: 0.9;
}
#exp-single .page-content table > tbody > tr > td {
    padding: 0.5rem !important;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color) !important;
    opacity: 0.9;
}

#exp-single .page-content table > thead > tr {
    background-color: var(--secondary-color) !important;
    color: var(--secondary-color) !important; 
} 

#exp-single .page-content p{
    margin-left:20px;
    /* color:rgb(249, 234, 224); */
}


/* list */

#exp-single .page-content ol, #single .page-content ul {
    margin-bottom: 1.2em;
    padding-left: 1.5em;
    list-style-position: inside;
    opacity: 0.9;
}

#exp-single .page-content ol li li, #single .page-content ul li li {
    margin-bottom: 0.5em;
    padding-left: 1.5em;
}



/* sidebar */

#exp-single aside {
    background-color: var(--secondary-color);
    border-radius: .7rem;
    padding: .7rem 1rem;
    margin-bottom: 1em;
}

#exp-single .sticky-sidebar {
  position: sticky;
  top: 50px;
}


/* headings */

#exp-single{
    font-size:medium;
}

#exp-single h1{
    color:var(--primary-color);
    text-align: center;
}

#exp-single h2{
    color:coral;
    text-align: left;
}

#exp-single h3{
    color:rgb(255, 173, 80);
    text-align: left;
    font-size:x-large;
}

#exp-single h4{
    color:rgb(255, 208, 80);
    text-align: left;
    font-size:large;
}

#exp-single h5{
    color:rgb(246, 230, 147);
    text-align: left;
}

#exp-single h6{
    color:rgb(247, 239, 195);
    text-align: left;
}

#exp-single .page-content .date {
    color: var(--primary-color);
    font-size:large;
}

/*-- Table Of Contents --*/

#exp-single aside.toc {
    padding: .7rem 1rem;
    text-decoration: none;
}


#exp-single .toc-content ul>li::marker{
    content: "▹";
    font-size:x-small;
    /* padding-left: 10px ;
    padding-right: 10px ; */
}

#exp-single .toc-content ul>li{
    padding-left: 10px ;
}

#exp-single aside.toc h5 {
    margin: .7em 0;
    margin-bottom: 1em;
    color: var(--text-color);
}


#exp-single aside.toc .toc-content ol li a, #exp-single aside.toc .toc-content ul li a {
    font-size: medium;
    font-weight:bold;
    text-decoration: none;
    color:coral;
    /* color:var(--primary-color); */
}

#exp-single aside.toc .toc-content ol li a:hover, #exp-single aside.toc .toc-content ul li a:hover {
    color: #edfd42;
    opacity: 1.2;
    filter: contrast(1.2);
}

#exp-single aside.toc .toc-content ol li a, #exp-single aside.toc .toc-content ul li li a {
    font-size: smaller;
    font-weight:normal;
    color:rgb(255, 173, 80);
}

#exp-single aside.toc .toc-content ol li a, #exp-single aside.toc .toc-content ul li li li a {
    font-size: small;
    color:rgb(255, 208, 80);
}


/* Top scroll */

#exp-single #topScroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 10px;
}

#exp-single #topScroll:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: .5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}




/* ---- Main Page ---- */

#main-page #topScroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 10px;
}

#main-page #topScroll:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: .5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
